@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,700,900');
:root{
    --violeta:#6536ca;
    --darkblue: #212d50;
    --gris: #6c757d;
    --lightgris: #eeeeee;
    --mediumgris: #949494;
    --naranja: #faa76c;
    --lightnaranja: #fccaa7;
    --blanco: #ffffff;
    --celeste: #a5cafa;
    --lightvioleta: #9b6fef;
}
*{
    padding: 0; margin: 0;
    font-family: 'Fira Sans', sans-serif;
    box-sizing: border-box;
    color: var(--darkblue);
}
a{
    text-decoration: none;
    color: var(--darkblue);
    cursor: pointer;
}
button{
    cursor: pointer;

}
li{
    list-style-type: none;
}
h1{
    font-size: 3em;
    font-weight: 900;
    letter-spacing: 0.025em;
}
h2{
    font-size: 2.6em;
}
h3{
    font-size: 1.75em;
}
h4{
    font-size: 1.25em;
    font-weight: 400;
    margin-bottom: 2%;
    letter-spacing: 0.05em;
}

.tl{
    position: absolute;
    top: 0;
    left: 0;
    
}
.tr{
    position: absolute;
    top: 0;
    right: 0;
}
.bl{
    position: absolute;
    bottom: 0;
    left: 0;
}
.br{
    position: absolute;
    bottom: 0;
    right: 0;
}

.hero{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

/* 
    -------------------
    HEADER STARTS HERE 
    -------------------
*/


.header, .right, .left, .main{
    margin-bottom: 1%;
}

.header{
    height: 90px;
    width: 90%;
    z-index: 1000;
    background-color: var(--blanco);
    position: fixed;
    margin: 0 auto;
    left: 5%;
}
.logo{
    position: absolute;
    left: 0;
    top: 15px;
}
.logo img{
    height: 50px;
}
.lang{
    position: absolute;
    right: 0;
    top: 45px;
}
.lang li{
    display: inline;
    padding: 0 5px;
}
.lang li:nth-child(1){
    font-weight: 700;
    border-right: 1px solid var(--darkblue);
}
.lang a{
    text-decoration: none;
}

/* 
    -------------------
    BOTTOM STARTS HERE 
    -------------------
*/

.contact-nav{
    background-color: var(--blanco);
    text-align: center;
    z-index: 900;
    position: sticky;
    height: 60px;
    width: 100vw;
    bottom: 0;
    padding-top:15px; 
    /* display: none; */

    animation: slideOutDown 1s;
}
.contact-nav a{
    font-weight: 700;
}
.contact-nav a:hover{
    color: var(--violeta);
}
@keyframes slideOutDown {
    from {
        transform: translate3d(0, 0, 0);
      }
    
      to {
        visibility: hidden;
        transform: translate3d(0, 100%, 0);
      }
}
    

/* 
    -------------------
    LEFT STARTS HERE 
    -------------------
*/

.left{
    position: fixed;
    height: 100vh;
    width: 5%;
    left: 0;
    background-color: var(--blanco);
    z-index: 900;
    writing-mode: vertical-lr;
    align-items: center;
    display: flex;
}
.left a{
    font-weight: 700;
    top: 50vh;
    transform: rotate(180deg);
    position: relative;
}
.left a:hover{
    color: var(--violeta);
}

/* 
    ----------------------
    MAIN index STARTS HERE 
    ----------------------
*/

main{
    width: 90%;
    margin: 0 auto;
    top: 100px;
    position: relative;
    margin-bottom: 16%;
}
.index-hero{
    background-color: var(--lightgris);
    padding: 16.5% 0;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative; */
}
.index-hero-welcome h2{
    /* font-size: 2.6em; */
    font-weight: 700;
}
.index-hero-welcome span{
    color: var(--violeta);
}
.index-hero-welcome hr{
    width: 80vw;
    background: var(--mediumgris);
    position: absolute;
    bottom: 50px;
    left: 70px;
    height: 1px;
    border: none;
}
.index-t{
    width: 12%;
}
.index-b{
    width: 18%;
}
.index-skills{
    width: 100%;
    display: flex;
    margin-bottom: 10%;
}
.index-skills-phrase{
    width: 35%;
    padding: 10% 5.5%;
    display: flex;    
    align-items: center;
}
.index-skills-list{
    width: 70%;
    background-color: var(--naranja);
    padding-left: 5.5%;
    display: flex;    
    align-items: center;
}
.index-skills-list li{
    padding-bottom: 10%;
}
.index-skills-list li:last-child{
    padding-bottom: 0;
}
.index-skills-list .number{
    font-size: 1em;
}
.index-skills-list .skill{
    /* font-size: 1.75em; */
    font-weight: 700;
    display: inline;
}


.index-recent{
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 8%;
    height: auto;
}
.index-recent-title{
    margin-bottom: 5%;
}

.index-recent-grid{
    width: 90%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 5%;
    justify-content: space-between;
}
.grid-big{
    width: 48%;
    position: relative;
    display: flex;
    align-items: baseline;
}
.grid-big img{
    width: 100%;
    top: 0;
    left: 0;
}
.grid-big-info{
    z-index: 900;
    width: 100%;
    text-align: center;
    padding: 5% 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display: inline-grid;
    opacity: 0;
    transition: opacity .5s;
}
.werk{
    background-color: #c01cea;
}
.grid-info-center{
    align-self: center;
}
.info-tematica{
    font-weight: 700;
    align-self: flex-end;
    color: var(--blanco);
}
.grid-big-info:hover{
    opacity: 1;
    transition: opacity 1.5s;
}
.grid-small-container{
    width: 48%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.grid-small{
    position: relative;
    width: 100%;
    display: flex;
    align-items: baseline;
}
.grid-small img{
    width: 100%;
    top: 0;
    left: 0;
}
.siluetas{
    background-color: #41a2b6;
}
.fasiculos{
    background-color: #003984;
}
.grid-small-info:hover{
    opacity: 1;
    transition: opacity 1.5s;
}
.info-blanca{
    color: var(--blanco);
}
.view-more{
    padding: 1% 1%;
    margin: 0 auto;
    background: none;
    position: relative;
    display: block;
    width: 20%;
}
.view-more a{
    padding: 5.5% 10%;
    border-bottom: 1px solid var(--violeta);
    text-align: left;
    color: var(--violeta);
    font-size: 1.75em;
    font-weight: 700;
    padding-right: 27%;
}
.view-more a::before{
    content: "";
    background-image: url(imgs/svg/001-blink-op.svg);
    position: absolute;
    right: 22%;
    top: 31%;
    width: 12%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: -1;
}
.view-more a:hover{
    color: var(--blanco);
    background-color: var(--violeta);
    height: 100%;
    transition: background-color .15s;
    background-image: url(imgs/svg/004-eye-op.svg);
    background-repeat: no-repeat;
    background-position: 86% 55%;
    background-size: 15%;
    z-index: 1;
}



footer{
    /* position: sticky; */
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
.footer-title{
    margin-bottom: 5%;
    /* font-size: var(--h1); */
}
.footer-contact{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2%;

}
.footer-contact ul{
    display: flex;
    border: 1px solid var(--mediumgris);
    width: 100%;
}
.footer-contact-elements{
    padding: 2% 4%;
    font-size: 1em;
    border-right: 1px solid var(--mediumgris);
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-contact-email{
    display: block;
}
.footer-contact li:last-child{
    border-right: 0;
}
.footer-contact a, i{
    color: var(--violeta);
    font-weight: 700;
}
.footer-legal{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
    align-items: baseline;
}
.footer-legal p{
    font-size: 0.8em;
    color: var(--mediumgris);
}
.footer-legal p:first-child{
    font-size: 1em;
    font-weight: 700;
}
.footer-legal a, .fa-arrow-up{
    color: var(--mediumgris);
    font-size: 1em;
    font-weight: 700;
}
.footer-contact-links a:hover, .footer-contact-links i:hover, .footer-contact-email a:hover{
    color: var(--darkblue);
}
/* .footer-svg{
    width: 100vw;
    height: 5vh;
    background: var(--naranja);
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 1000;
} */
/* 
    ----------------------
    RIGHT STARTS HERE 
    ----------------------
*/

.right{
    position: fixed;
    height: 100vh;
    width: 5%;
    right: 0;
    background-color: var(--blanco);
    z-index: 900;
    writing-mode: vertical-lr;
    align-items: center;
    display: flex;
}
.right a{
    font-weight: 700;
    top: 50vh;
    position: relative;
}
.right a:hover{
    color: var(--violeta);
}




/* 
    ------------------------
    MAIN contact STARTS HERE 
    ------------------------
*/
.main-contact{
    margin-bottom: 0;
}
.contact-hero{
    /* width: 100%; */
    background-color: var(--lightnaranja);
    padding: 8% 0 0 0;
    text-align: left;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative; */
}
.contact-hero-form{
    width: 60%;
}
.contact-hero-form input{
    border: none;
    background: none;
    font-size: 1em;
    color: var(--violeta);
    padding: 1%;
    font-weight: 700;
}
.contact-tl, .contact-tr{
    width: 15%;
}
.contact-bl, .contact-br{
    width: 18%;
    bottom: -3%;
}

.contact-form-select{
    border: none;
    background: none;
    font-size: 1em;
    color: var(--violeta)
}
.contact-form-text{
    margin-bottom: 4%;
}
.contact-hero-form h1{
    margin-bottom: 8%;
    color: var(--violeta);

}
/* .contact-form-text p{
    display: inline;
} */
.contact-hero-form {
    font-size: 1.25em;
    line-height: 1.5em;
    padding-bottom: 2%;
}
.contact-form-footer{
    width: 100%;
    display: flex;
    border: 1px solid var(--gris);
    justify-content: space-between;
    margin-bottom: 2%;
}
.contact-footer-mail{
    width: 60%;
    border-right: 1px solid var(--gris);
}
.contact-footer-mail input{
    padding: 7% 6%;
    width: 100%;
}
.contact-footer-sumbit{
    width: 40%;
    cursor: pointer;
    align-items: center;
    display: flex;
    transition: all 0.15s;
    background-image: url(imgs/svg/008-send-op.svg);
    background-size: 8%;
    position: relative;
    background-repeat: no-repeat;
    background-position: 80% 50%;
}
.contact-footer-sumbit input{
    padding: 7% 6%;
    width: 100%;
    height: 100%;
    font-weight: 700;
    padding-right: 20%;
    cursor: pointer;
}
.input-email{
    width: 100% !important;
}

.contact-footer-sumbit:hover{
    transition: all 0.15s;
    background-color: var(--violeta);
    background-image: url(imgs/svg/010-flying-op.svg);

}
.contact-footer-sumbit input:hover{
    color: var(--blanco);
}
.contact-form-text > div{
    border-bottom: 1px solid var(--darkblue);
}
.espacio{
    display: block;
    margin-bottom: 2%;
  }



/* 
    ------------------------
    MAIN project STARTS HERE 
    ------------------------
*/
.main-project{
    margin-bottom: 8%;
}
.project-hero{
    /* width: 100%; */
    background-color: var(--celeste);
    padding: 14% 0 18.5% 0;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative; */
}
.project-hero-title{
    width: 100%;
    position: relative;
    margin-bottom: 3%;

}
.project-hero-title h1{
    margin-bottom: 2%;
}
.project-hero-title hr{
    width: 90%;
    background: var(--mediumgris);
    position: absolute;
    bottom: 0;
    left: 5%;
    height: 1px;
    border: none;
}
#project-hero-menu{
    display: flex;
    width: 40%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-end;
}
.btn{
    border: none;
    background: none;
    color: var(--darkblue);
    font-size: 1em;
    cursor: pointer;

}
.active{
    font-weight: 700;
    color: var(--violeta);
}
.btn:hover{
    color: var(--violeta);
}

.viewMore{
    border: none;
    background: none;
    cursor: pointer;
    width: 20%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.viewMore button{
    color: var(--violeta);
    font-size: 1.75em;
    font-weight: 700;
    /* padding: 1% 1%; */
    border: none;
    background: none;
    position: relative;
    display: block;
    padding: 5.5% 10%;
    border-bottom: 1px solid var(--violeta);
    text-align: left;
    padding-right: 27%;
    /* width: 20%; */
}
.viewMore button::before{
    content: "";
    background-image: url(imgs/svg/001-blink-op.svg);
    position: absolute;
    right: 13%;
    top: 31%;
    width: 13%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: 0;
}
.viewMore button:hover{
    color: var(--blanco);
    background-color: var(--violeta);
    height: 100%;
    transition: background-color .15s;
    background-image: url(imgs/svg/004-eye-op.svg);
    background-repeat: no-repeat;
    background-position: 86% 55%;
    background-size: 15%;
    z-index: 10;
}

.hide{
    display: none;
}
.show{
    display: block;
}
.showContainer{
    display: flex;
}
.inside-container{
    width: 100%;
    justify-content: space-between;
}
.project-graphic{
    width: 20%;
}

.project-container{
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 8%;
    height: auto;
    transform: translateY(-100px);
}
.project-container-grid{
    width: 90%;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
}
.grid-medium{
    width: 30%;
    position: relative;
    margin-bottom: 5%;
    display: flex;
    align-items: baseline;
    /* display: none; */
}
.grid-medium img{
    width: 100%;
    top: 0;
    left: 0;
}

.diversidad{
    background-color: #a984b7;
}
.inversion{
    background-color: #888888;
}
.cartografia{
    background-color: #e56061;
}



/* 
    ------------------------
    MAIN comingsoon STARTS HERE 
    ------------------------
*/

.main-comingsoon{
    margin-bottom: 0;
}
.comingsoon-hero{
    /* width: 100%; */
    background-color: var(--darkblue);
    padding: 12% 0 0 0;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative; */
}
.comingsoon-hero-form {
    font-size: 1.25em;
    line-height: 1.5em;
    padding-bottom: 2%;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
.comingsoon-hero-form h1{
    margin-bottom: 8%;
    color: var(--lightvioleta);

}
.comingsoon-hero-form p{
    color: var(--blanco);
}
.comingsoon-form-text{
    margin-bottom: 14%;
}
.comingsoon-footer{
    border: 1px solid var(--blanco);
    margin-bottom: 6%;
}
.comingsoon-footer div:nth-child(1){
    border-right: 1px solid var(--blanco);
}
.suscribe input{
    border: none;
    background: none;
    font-size: 1em;
    color: var(--naranja);
    font-weight: 700;
}
.suscribe input::placeholder{
    color: var(--lightgris);
}
.suscribe-footer-submit{
    background-image: url(imgs/svg/008-send-cs-op.svg);
    background-position: 72% 50%;
}

.suscribe-footer-submit:hover{
    background-color: var(--naranja);
}
/* .first-tl{
    width: 5%;
    top: 10%;
    left: 15%;
}
.second-tl{
    width: 5%;
    top: 25%;
    left: 10%;
} 
.first-tr{
    width: 5%;
    top: 10%;
    right: 15%;
} 
.second-tr{
    width: 5%;
    top: 25%;
    right: 10%;
} */
.comingsoon-leafs{
    position: absolute;
    top: 0;
    left: 0;
}
iframe{
    border: none;
}
.comingsoon-bl{
    width: 110%;
    bottom: -5%;
    left: -5%;
    z-index: 10000;
    height: 278px;
}
.comingsoonDown{
    overflow: hidden;
    bottom: -28%;
}



/* 
    ------------------------
    MAIN perfil STARTS HERE 
    ------------------------
*/
.profile-hero{
    background-color: var(--lightvioleta);
    padding: 20% 0 20% 0;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative; */
}
.profile-hero h1{
    color: var(--blanco);
    letter-spacing: 0.05em;
}

.profile-about{
    width: 100%;
    display: block;
}
.profile-about-description{
    width: 90%;
    display: flex;
    margin: 0 auto;
}
.profile-description-left{
    width: 50%;
    position: relative;
}
.profile-description-left h2{
    color: var(--naranja);
    font-weight: 900;
    letter-spacing: 0.05em;
    position: absolute;
    bottom: 23%;
    z-index: 100;
}
.profile-description-left img{
    position: absolute;
    left: 10.6%;
    top: 12%;
    width: 55%;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .15)
}
.profile-description-right{
    width: 50%;
    padding: 8% 0;
}
.profile-description-right p{
    line-height: 1.5em;
    margin-bottom: 2.5%;
    font-size: 1.25em;

}
.profile-about-jobs{
    width: 100%;
    display: block;
    background-color: var(--violeta);
    padding: 5% 0;
}
.profile-about-jobs h4{
    color: var(--blanco);
    text-align: center;
    margin-bottom: 5%;
}
.profile-jobs-history{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.profile-job{
    width: 33.5%;
    /* display: flex; */
    justify-content: center;
    text-align: center;
    position: relative;    
}
.profile-job h2, .profile-job p{
    color: var(--blanco);
    margin-bottom: 2.5%;
}
.profile-job h4{
    font-size: 1em;
    margin-bottom: 10%;
}
.profile-job hr{
    width: 100%;
    background: var(--blanco);
    height: 1px;
    border: none;
    margin-bottom: 8%;

}
.job-dot{
    height: 15px;
    width: 15px;
    border: 1px solid var(--blanco);
    border-radius: 50%;
    display: inline-block;
    transform: translate(0px, 12px);
}
.empty-dot{
    background-color: var(--violeta);
}
.full-dot{
    background-color: var(--blanco);
}

.profile-skills{
    background-color: var(--lightgris);
    width: 100%;
    text-align: center;
    padding: 8% 0 2% 0;
}
.profile-skills-container{
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}
.profile-skills h4{
    margin-bottom: 8%;
}
.profile-skills-detail{
    width: 40%;
    background-color: var(--blanco);
    padding: 9% 0 3% 0;
    margin-bottom: 12%;
    position: relative;
}
.profile-skills-detail img{
    width: 30%;
    position: absolute;
    top: -17%;
    left: 35%;
}
.profile-skills-detail h3{
    margin-bottom: 8%;
    letter-spacing: 0.025em;

}
.profile-skills-detail li{
    line-height: 1.5em;
}



/* 
    ------------------------
    MAIN werk STARTS HERE 
    ------------------------
*/
.werk-hero{
    background-color: #c01cea;
    padding: 19% 0;
}
.werk-hero-text h1{
    color: var(--blanco);
    margin-bottom: 5%;
}
.werk-hero-text p{
    color: var(--blanco);
    font-size: 1.25em;
}
.project-description{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5% 0;
    font-size: 1.25em;
    line-height: 1.35em;
}
.project-description-left{
    width: 45%;
}
.project-description-right{
    width: 45%;
}
.project-list-category{
    color: #ff5e3d;
    margin-bottom: 1%;
    font-size: 1em;
}
.category-year{
    margin-top: 5%;
}
.project-description-right p{
    margin-bottom: 3%;
}

.swiper-container{
    width: 100%;
    height: 460px;
}
.swiper-slide{
    background-color: #212d50;
    color: white;
}
.project-content-container{
    width: 100%;
}


.werk-content-01{
    width: 90%;
    margin: 0 auto;
    padding: 5% 0;
    background-image: url(imgs/projects/proyecto-werk-02.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 73%;
    margin-bottom: 5%;
    
}
.werk-content-logo{
    width: 30%;
    margin: 0 auto;
    display: block;
    margin-bottom: 15%;
}
.werk-content-poster{
    width: 40%;
    z-index: 100;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .15);
    margin-left: 5%;
}
.werk-content-02{
    width: 100%;
    background-image: url(imgs/projects/proyecto-werk-04-op.jpg);
    background-repeat: no-repeat;
    padding: 10% 0;
    display: flex;
}
.werk-content-02 img{
    width: 80%;
    margin: 0 auto;
    align-self: center;
    
}
.werk-content-03{
    width: 100%;
    background-color: #fdf5bb;
    padding: 5% 0;
}


.project-behance-link{
    color: var(--violeta);
    font-size: 1.25em;
    font-weight: 600;
    text-align: center;
    width: 35%;
    margin: 5% auto;
    display: flex;
    padding: 2%;
    justify-content: center;
}
.project-behance-link:hover{
    color: var(--darkblue);
}
.project-footer-links{
    background-color: var(--lightgris);
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 5% 0;
    display: flex;
}
.project-footer-links div{
    width: 40%;
}
.project-footer-links h4{
    margin-bottom: 1%;
}
.project-footer-links a{
    font-size: 2.6em;
    font-weight: 600;
    letter-spacing: 0.02em;
}
.project-footer-links a:hover{
    color: var(--violeta);

}


/* 
    ------------------------
    MAIN siluetas STARTS HERE 
    ------------------------
*/
.siluetas-hero{
    background-color: #69a8bd;
    padding: 17.5% 0;
}
.siluetas-content-01{
    background-color: #69a8bd;
    width: 100%;
    justify-content: center;
}
.siluetas-content-01 img{
    width: 80%;
    margin: 0 auto;
}
.siluetas-content-03{
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
    text-align: center;
}
.siluetas-03-detalles{
    width: 40%;
}
.siluetas-03-detalles img{
    border-radius: 50%;
    width: 100%;
}


